a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    top: 25px;
    
    

}

a:link, a:visited {
	text-decoration: none
	}
a:hover {
	text-decoration: none;
	color:#fff
	}
a:active {
	text-decoration: none
	}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    height: 8vh;
    
    
}


.nav-list{

    list-style: none;
    display: flex;
    
}
.nav-list li{
    margin-left: 60px;
    
}

.nav-list a button{
    background-color: #2E8B57;
    color: white;
    font-size: 20px;
   position: relative;
    top: -6px;
}

img{
    max-width: 100%;
}

hr{
    max-width: 100%;
}




@media (max-width: 767px){
    
    img{
        max-width: 100%;
    }
    
    hr{
        max-width: 100%;
    }


    a{
        color: white;
        text-decoration: none;
        font-size: 11px;
        position: relative;
        top: 25px;
        right: 25px;
        

    
    }
 
    .nav-list li{
        margin-left: 10px;
    
    }
    .nav-list a button{
        background-color: #2E8B57;
        color: white;
        font-size: 11px;
       position: relative;
        top: -3px;
    }
}

@media screen and (min-width: 768px) and (max-width: 999px){
    img{
        max-width: 100%;
    }
        
    hr{
        max-width: 100%;
    }
    
    
    a{
        color: white;
        text-decoration: none;
        font-size: 16px;
        position: relative;
        top: 25px;
        right: 20px;
            
    
        
    }
     
    .nav-list li{
        margin-left: 20px;
        
    }
    .nav-list a button{
        background-color: #2E8B57;
        color: white;
        font-size: 16px;
        position: relative;
        top: -5px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1260px){
    img{
        max-width: 100%;
    }
        
    hr{
        max-width: 100%;
    }
    
    
    a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        position: relative;
        top: 25px;
        right: 20px;
            
    
        
    }
     
    .nav-list li{
        margin-left: 30px;
        
    }
    .nav-list a button{
        background-color: #2E8B57;
        color: white;
        font-size: 20px;
        position: relative;
        top: -5px;
    }
}


